<!DOCTYPE html>
<html>
    <head>
        <title>Metro Checklist</title>
    </head>
    <body>
        <h1>Metro Checklist</h1>
        <ul>
            {% for line, stations in stations.items() %}
            <h2>Line {{ line }} - {{ percentages[line] }}%</h2>
            <ul>
            {% for name in stations %}
                <li>
                    <form method="POST" style="display: :inline;">
                        <input type="hidden" name="station" value="{{ name }}">
                        <button type="submit">
                            {% if visited(name) %}✅{% else %}🔲{% endif %} {{ name }}
                        </button>
                    </form>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </ul>
    </body>
</html>